<!DOCTYPE html>
<html>
  <head>
    <title>Netelix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background:linear-gradient(to right, rgba(226, 183, 188, 1) 0%, 8.139535039663315%, rgba(202, 175, 184, 1) 16.27907007932663%, 22.093024104833603%, rgba(206, 137, 178, 1) 27.906978130340576%, 40.697675943374634%, rgba(167, 108, 139, 1) 53.48837375640869%, 68.60465109348297%, rgba(199, 151, 167, 1) 83.72092843055725%, 91.86046421527863%, rgba(215, 199, 206, 1) 100%);">
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
